@import "bourbon";
body {
    max-width: 80%;
    margin: 0 auto;
    background: #eee;
    font-family: 'Open Sans', sans-serif;
}

.label {
    color: #bebebb;
    font-size: 1em;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.is-flex>[class*="col-"] {
    display: flex;
    flex-direction: column;
}

.center-aligned {
    align-self: center;
}

.logo {
    max-width: 50%;
    height: 100%;
    margin: 0 auto;
}

.nav-bar {
    background-color: #2c2e3a;
    color: #aaaaaa;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.main-container {
    align-self: center;
}

.main-title {
    font-size: 5vw;
    align-self: center;
}

.action-area {
    font-size: 18px;
    align-self: center;
    align-items: center;
    text-align: center;
}

.action-text,
.action-text:hover {
    color: white;
}

.main-area-text {
    color: white;
}

.grayed-area {
    background-color: #706f74;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .main-title {
        font-size: 6vw;
    }
    .main-area-text {
        font-size: 6vw;
    }
    .action-area {
        font-size: 4vw;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .main-title {
        font-size: 3.5vw;
    }
    .main-area-text {
        font-size: 1.6vw;
    }
    .action-area {
        font-size: 1.4vw;
        align-items: center;
        text-align: center;
    }
}