<!DOCTYPE html>
<html>

<head>
    <title>Racha dos Amigles - 2017</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/login.css">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="row">
        <nav>
            <div class="row is-flex nav-bar">
                <div class="col-md-3 col-xs-12">
                    <img class="img-responsive logo" src="images/rda_logo1.png">
                </div>
                <div class="col-md-6 col-xs-12 text-center main-container">
                    <h1 class="main-title">
                        Racha dos Amigles - 2017
                    </h1>
                </div>
                <div class="col-md-3 col-xs-12 action-area">
                    <a class="action-text" href="/">Ver Último Sorteio</a>
                </div>
            </div>
        </nav>

        <br>
        <br>

        <main>
            <div id="main-info" class="row">
                <div class="col-md-3 col-lg-3"></div>
                <div class="col-md-6 col-xs-12 col-lg-6">
                    <div class="row">
                        <div class="col-md-12 grayed-area">
                            <br>
                            <h1 class="main-area-text text-center">Log In</h1>
                            <form action="/login " method="post">
                                <div class="form-group">
                                    <label for="username" class="label">Email:</label>
                                    <input class="form-control" type="text" id="username" placeholder="Email" name="username" required />
                                </div>

                                <br>

                                <div class="form-group">
                                    <label for="username" class="label">Password:</label>
                                    <input type="password" class="form-control" type="text" id="username" placeholder="Password" name="password" required/>
                                </div>

                                <br>

                                <div class="form-group text-center">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Log In</button>
                                </div>

                                <br>
                            </form>
                            <a href="/forgot-password">Esqueci minha senha</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 "></div>
            </div>
        </main>
    </div>

</body>

</html>