<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/login.css">
	<script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="js/rda.js"></script>
</head>
<body>
<center>
    <div style="margin-top:120px">
    	<center><img src="images/rda_logo1.png"></center>
		<div class="btn-group-vertical" style="margin-top: 50px; width: 200px">
		  <span class="label label-warning">Visão de Administrador</span>
		  <button type="button" id="button_draw" class="btn btn-primary" style="margin-bottom: 5px">Sortear novos times</button>
		  <button type="button" id="button_classify" class="btn btn-primary">Classificar jogadores</button>
		</div>
    </div>
</center>
</body>
</html>